body {
  background-image: url("hemsire.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px); /* Arka planı blurlaştırma */
}

.container {
  max-width: 1200px; /* 1200 piksel genişlik */
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Diğer stiller... */
@media (max-width: 768px) {
  .container {
    padding: 10px;
    border-radius: 5px;
  }
}

/* Diğer stiller... */

.title {
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.question-container {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.question {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.answer {
  display: none;
  margin-top: 10px;
  animation: slideIn 0.5s;
}

@keyframes slideIn {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.button-container {
  text-align: center;
  animation: slideIn 0.5s;
}

.button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}

